@import '@/styles/variables.scss';

.dock {
  width: auto;
  height: 5rem;
  border-radius: $border-md;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, 0.8);

  @include mobile {
    display: none;
  }

  .dock-inner {
    padding: 0.3rem;
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 0px;
    border-radius: $border-md;
    background: rgba(83, 83, 83, 0.25);
    backdrop-filter: blur(1.8rem);
    -webkit-backdrop-filter: blur(1.8rem);
    border: 0.06rem solid rgba(255, 255, 255, 0.18);
    list-style-type: none;
  }
}