@import '@/styles/variables.scss';

.icon-container {
  background: transparent;
  border: none;
  margin: $gap-x6 $gap-x2;
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;

  @include medium {
    margin: $gap-x2 $gap-x2;
  }

  .name {
    color: $white;
    font-size: 0.7rem;
    line-height: 0.9rem;
    text-align: center;
    margin-top: $gap-mini;
  }
}