@import '@/styles/variables.scss';

.icon-container {
  background: transparent;
  border: none;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;

  .name {
    color: $white;
    font-size: 0.7rem;
    line-height: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
  }
}