@import '@/styles/variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $white;
  background: url(/images/macos_monterrey.jpeg);
  background-color: $purple;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;

  @media screen and (min-width: 1921px) {
    background-size: 2560px 1440px;
  }

  @media screen and (min-width: 2561px) {
    background-size: 3840px 2160px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
